<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js e Express</title>
</head>
<body>
    <h1>Bem-vindo a aplicação com Node.js e Express</h1>
    <hr>
    <p><a href="/sobre">Sobre</a></p>
    <p><a href="/contato">Contato</a></p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita ut illum illo molestiae? Facere deleniti suscipit repellendus! Harum neque voluptatum possimus, dolorem, numquam blanditiis similique debitis eaque pariatur fuga esse.</p>

    <hr>

    <ul>
        <% for(banda of bandas) { %>
        <li> <%= banda %>  </li>
        <% } %>
    </ul>

</body>
</html>